@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;600&family=DotGothic16&family=Fasthand&family=Fredericka+the+Great&family=Indie+Flower&family=Noto+Sans+Avestan&family=Source+Sans+Pro:wght@600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Dancing+Script:wght@400;500;600&family=DotGothic16&family=Fasthand&family=Fredericka+the+Great&family=Noto+Sans+Avestan&family=Source+Sans+Pro:wght@600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('papel-de-parede.jpg');
  background-attachment: fixed;
  /* imagem fundo fixada */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(to bottom, #928dd4 0, #7e68df 16.67%, #7346b8 33.33%, #4949bb 50%, #272692 66.67%, #122d8f 83.33%, #11256d 100%);
  min-height: 150px;
  text-align: center;
  padding-top: 25px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.459);

}

header>p {
  font-family: Arial, Helvetica, sans-serif, 'Bebas Neue', cursive;
  font-size: 1.3em;
  color: white;
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);


}

div#msg {
  color: white;
  padding: 15px;
}

header>h1 {
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 10vw;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.589);
  font-family: 'Bruno Ace SC', cursive;
  ;
}

nav {
  background-color: #102572;
  padding: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.644);
}

nav a,
nav p {
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  text-decoration: none;
  /* retira o sublilinhado do texto  */
  font-weight: bold;
  transition-duration: 1s;
  /* tempo de duração  dos botões de navegação */
  background-size: ;

}

nav>a:hover {
  background-color: rgb(162, 211, 223);
  color: black;
  padding: 5px;
}

main {
  min-width: 300px;
  /* minimo da largura do conteudo para não ter a barra de rolagem */
  max-width: 1000px;
  /* maximo da largura para aparecer a imagem de fundo por exemplo. */
  margin: auto;
  /* centralizar a margem do conteudo dos dois lados */
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.541);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
}

main h2 {
  color: #080808;
  font-size: 1.7em;
  background-image: linear-gradient(to right, rgba(55, 55, 202, 0.514), transparent);
  text-indent: 10px;
  font-family: 'Bruno Ace SC', cursive;
  ;

}

main img {
  width: 98%;
}

section {
  padding-top: 30vh;
  padding-bottom: 30vh;
  padding-left: 20px;
  line-height: 1.3em;
  /* espaçamento  entre as frases */
  font-size: 2.5vw;
}



section.imagem {

  background-color: rgba(31, 30, 30, 0.959);
  color: rgba(255, 255, 255, 0.521);
  box-shadow: inset 6px 6px 13px 0px rgb(39, 37, 37);
  background-attachment: fixed;
  /* para dar um efeito parallax */
}

section#img01 {
  /* seletor de id */

  background-image: url('acessibi-barreira-fisica.webp');
  background-position: center center;
  background-size: cover;

}

section#img02 {

  background-image: url('escola-educacao-inclusiva01.jpg');
  background-position: center center;
  background-size: cover;
  padding-top: 50vh;


}

section.imagem>p {
  display: inline-block;
  /* a caixa se ajusta ao tamanho do conteudo */
  padding: 0.5px;
  background-color: rgba(0, 0, 0, 0.274);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);



}

div.video {
  background-color: #4949bb;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 59%;
  position: relative;
}

div.video>iframe {
  /* classe video */
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

}

footer {
  color: black;
  font-size: 1em;
  background-color: aliceblue;
  padding: 7px;
  margin: auto;
  text-align: center;
  min-width: 300px;
  max-width: 1030px;
  border-radius: 10px;
  margin-bottom: 15px;
}

footer a:hover {
  background-color: #4949bb;
  color: white;
  padding: 10px;
  text-decoration: none;

}